.countdown-row {
  display:block;
  padding: 30px;
}

/*.countdown-section {
  float:left;
  display:block;
}

.countdown-section>span {
  display:block;
}*/

.countdown-section+.countdown-section {
  margin-left:0px;
}

.countdown-section .countdown-amount {
  font-size:30px;
  line-height:0px;
  font-weight:700;
  margin-bottom:24px;
}

.countdown-section .countdown-period {
  /*text-transform:uppercase;
  font-weight:300;
  font-size:20px;
  line-height:15px;
  letter-spacing:6px;*/
}

@media screen and (max-width: 1920px) and (min-width: 736px) {
  #one-mobile-text {display: none;}
  #two-mobile-text {display: none;}
  #three-mobile-text {display: none;}
  #four-mobile-text {display: none;}
  #five-mobile-text {display: none;}
  #six-mobile-text {display: none;}
  .countdown-section .countdown-amount {
    font-size:70px;
  }

}

.main.style1 h2 {
  text-align: center;
  padding-right: 18px;
}


#invite-form {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 1250px;
	overflow: hidden;
}
#invite-form iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#invite-form-cn {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 900px;
	overflow: hidden;
}
#invite-form-cn iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#comments {
  height: 50%;
  overflow: auto;
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

#comment-div {
  /*height: 5em;*/
  margin: auto;
  overflow: auto;
}

#contact {
  padding-bottom: 30px;
}
